#banner-loyalty-2 {
	position: relative;
	width: auto;
	height: 400px;
	background-position: right bottom;
	background-image: url('~/images-new/banners/banner-loyalty-2.jpg');
	border-radius: 10px;
	margin: 20px 0;

	.text1 {
		position: absolute;
		top: 60px;
		left: 30px;
		font-size: 20px;
		letter-spacing: 3px;
		text-transform: uppercase;
	}

	.text2 {
		position: absolute;
		top: 140px;
		left: 30px;
		width: 300px;
		font-size: 40px;
		font-weight: bold;
	}

	.text3 {
		position: absolute;
		bottom: 70px;
		left: 30px;
		font-size: 25px;
	}
}
